@use '@/styles/variables' as *;

.section {
  background: $colorNavy;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.container {
  max-width: $contentWidthDesktopMd;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $breakpointTablet) {
    padding-inline: 2rem;
  }
}

.heading {
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  color: $colorGold;
}

.prefixLine {
  width: 8rem;
  height: 1.5px;
  background: linear-gradient(to bottom, $colorBlack, $colorGold, $colorBlack);
  margin: 0.5rem auto 1rem auto;
  margin-bottom: 6rem;
}

.grid {
  display: grid;
  gap: 2rem;

  @media (min-width: $breakpointTablet) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  border-radius: 2rem;
  background: linear-gradient(to bottom, $colorNavy, $colorNavyDark);
  border: 1.25px solid rgba($colorGold, 0.15);
  padding: 3rem;
  text-align: center;
  backdrop-filter: blur(4px);
}

.iconWrap {
  display: flex;
  margin: 0 auto 2rem;
  height: 6rem;
  width: 6rem;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: linear-gradient(
    to bottom right,
    rgba(223, 186, 116, 0.2),
    rgba(190, 128, 12, 0.2)
  );
}

.icon {
  height: 3rem;
  width: 3rem;
  color: $colorGold;
}

.label {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  color: $colorGold;
}

.value {
  font-weight: 500;
  font-size: 2rem;
  color: $colorWhite;
}

.socialWrap {
  margin-top: 2.5rem;
  text-align: center;
}

.socialLabel {
  margin: 6rem auto 4rem auto;
  font-size: 1.75rem;
  color: rgba($colorWhite, 0.6);
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.socialLink {
  border-radius: 16px;
  background: rgba($colorWhite, 0.1);
  padding: 0.75rem;
  transition: background 0.2s;
  display: flex;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background: linear-gradient(
    to bottom right,
    rgba(223, 186, 116, 0.2),
    rgba(190, 128, 12, 0.2)
  );
}

.socialIcon {
  height: 2rem;
  width: 2rem;
  color: $colorWhite;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7481%)
    hue-rotate(183deg) brightness(103%) contrast(98%);
}
