@use 'variables' as *;

.agenda {
  background: linear-gradient(to bottom, $colorNavyDark, $colorNavy);
  padding-block: 8rem;
  display: flex;
  justify-content: center;
}

//   .container {
//     max-width: $contentWidthDesktop;
//     width: 100%;
//   }

.heading {
  margin-bottom: 6rem;
  text-align: center;
  font-size: 3.75rem;
  font-weight: 700;
  color: $colorWhite;

  @media (min-width: $breakpointTablet) {
    font-size: 4.5rem;
  }
}

.list {
  display: flex;
  max-width: $contentWidthDesktop;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
}

.item {
  overflow: hidden;
  border-radius: 32px;
  background: $colorWhite;
  padding: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  @media (min-width: $breakpointTablet) {
    padding: 4rem;
  }

  p {
    text-align: start;
    font-size: 2rem;
    line-height: 1.625;
    color: $colorNavy;

    @media (min-width: $breakpointTablet) {
      font-size: 2.25rem;
    }
  }
}

.ctaWrap {
  margin-top: 3rem;
  text-align: center;
}
