@use 'variables' as *;
.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  z-index: 1;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  padding: 11.25rem 5rem 5rem 5rem;
  max-width: 600px;
  width: 100%;
  background-color: $colorWhite;
  border-radius: 5rem;
  position: relative;
}
.form input {
  font-size: $fontSizeMobP2;
  width: 100%;
  padding: 1.25rem 2.5rem;
  height: 6.625rem;
  padding-inline: 1.875rem;
  border-radius: 1.5rem;
  outline: none;
  border: none;
  background-color: $colorLightBg;
  font-size: $fontSizeP2;
  margin-top: 0.625rem;
  border: 1px solid transparent;
  transition: all 0.3s linear;
}

.form input::placeholder {
  font-size: $fontSizeMobP1;
}

.form input:nth-child(1) {
  margin-bottom: 1.25rem;
}

.error {
  color: red;
  font-size: $fontSizeMobP2;
  margin-top: 0.625rem;
}
