.button {
  background-color: #fdc7d8;
  margin-block: 40px;
  border-radius: 15px;
  text-transform: uppercase;
  width: 180px;
  height: 60px;
  border: 2px solid #fdc7d8;
  color: #767676;
  font-family: var(--font-Rubik);
  font-size: 20px;
  filter: drop-shadow(0px 4px 4px #984d65);
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button:hover {
  border: 3px solid #ab677c;
  color: #fff;
}
