@use 'variables' as *;

.stickyBar {
  position: sticky;
  top: 10rem;
  z-index: 8;
  max-width: 56rem;
  margin: 0 auto;
  padding: 2rem;
}

.inner {
  display: flex;
  gap: 1rem;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  backdrop-filter: blur(12px);
}

.btn {
  flex: 1;
  border-radius: 9999px;
  padding: 1rem 2rem;
  font-size: 1.75rem;
  font-weight: 700;
  transition:
    color 0.2s,
    background 0.2s,
    box-shadow 0.2s;
  border: none;
  cursor: pointer;
  background: transparent;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: $colorWhite;
  }

  &.active {
    background: linear-gradient(to right, $colorGold, $colorGoldDark);
    color: $colorWhite;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
}
