.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 536px;
}

.navigation.formPage {
  min-width: unset;
}

.button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 24px;
  padding-inline: 10px;
  transition: color 0.3s linear;
  cursor: pointer;
}

.button:hover {
  color: rgba(255, 255, 255, 1);
}

.mobileNavigation {
  position: absolute;
  top: 72px;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 50px 50px;
  transition: all 1s linear;
  height: 0;
  overflow: hidden;
}

.linkContainerMobile {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
}

.buttonMobile {
  user-select: none;
  width: 100%;
  padding: 20px 40px;
  color: var(--colorLightBG);
  background-color: transparent;
  font-size: var(--fontSizeP2);
  text-align: end;
}

.linkContainerMobile:last-child {
  margin-bottom: 40px;
}

.mobileNavigation.active {
  height: auto;
}

.doctorPage {
  gap: 10px;
  justify-content: center;
}
