.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  background-color: #eadddf;
}
.containerInner {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 40px 0 20px 0;
  font-size: 70px;
  color: #984d65;
}
.itemBox {
  max-width: 1280px;
  width: 100%;
}
