.section {
  min-height: 578px;
  position: relative;
  z-index: 1;
  height: 100%;
  padding-top: 60px;
  width: 100vw;
}

.scrollBox {
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 578px;
  display: flex;
  flex-wrap: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.introMain,
.introEvent,
.introProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
}

.introMain,
.introProducts {
  min-width: 100vw;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.introMain::before,
.introSpray::before,
.introGel::before,
.introHair::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url(/images/introBG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.introSpray::before {
  background-image: url(/images/introHairSpray.png);
}

.introGel::before {
  background-image: url(/images/gelBG.png);
}

.introHair::before {
  background-image: url(/images/hairBG.png);
}

.introEvent {
  min-width: 100vw;
  width: 100%;
  height: 100%;
}

.introMainContent,
.introProductsContent {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.leaves {
  position: absolute;
  bottom: 80px;
  right: 0;
  -webkit-user-drag: none;
  user-select: none;
}

.container {
  max-width: 620px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.eventPageContainer {
  align-items: flex-start;
  max-width: 1200px;
  position: relative;
}

.eventVideo {
  position: absolute;
  object-fit: cover;
  width: 390px;
  height: 590px;
  z-index: 1;
  right: 100px;
}

.eventVideo.he {
  right: auto;
  left: 100px;
}

.section {
  color: var(--colorWhite);
  font-size: var(--fontSizeP1);
}

.title,
.eventTitle {
  font-size: var(--fontSizeH1);
  font-weight: 400;
  color: var(--colorWhite);
  margin: 30px 0;
  padding: 0;
  max-width: 690px;
  letter-spacing: -3px;
}

.title.ru,
.eventTitle.ru {
  font-size: 70px;
}

.eventTitle {
  line-height: 80px;
}

.textContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text {
  color: var(--colorWhite);
  font-size: var(--fontSizeP1);
  font-weight: 500;
  margin: 0 auto 58px auto;
  text-align: center;
}

.subtitleEvent {
  font-size: var(--fontSizeP2);
}

.subtitleEvent:first-of-type {
  margin-top: 100px;
}

.eventTitle {
  color: var(--colorGold);
}

.eventTitle span {
  color: var(--colorAccentLight);
}

.subtitleEvent:last-of-type {
  margin-bottom: 30px;
}

.paginationBox {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media screen and (min-width: 1440px) {
  .introEvent {
    background-position: 70% 60px;
  }
}

@media screen and (max-width: 1224px) {
  .section {
    height: 100%;
  }
  .container {
    padding-inline: 20px;
  }
  .introMain {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
  }
  .buttonBox {
    display: none;
  }
  .title {
    font-size: var(--fontSizeMobH1);
    margin-block: 25px;
    font-weight: 500;
  }
  .title.ru {
    font-size: 36px;
  }
  .text {
    font-size: var(--fontSizeMobP2);
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .introMain::before {
    content: '';
    background-position: 40%;
  }
  .leaves {
    bottom: 20px;
    right: 20px;
  }
  .subtitleEvent {
    font-size: var(--fontSizeMobP2);
  }
  .subtitleEvent:first-of-type {
    margin-top: 0;
  }
  .eventPageContainer h1 {
    font-size: var(--fontSizeMobH1);
    max-width: 270px;
    line-height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .section {
    padding-top: 70px;
  }
  .eventPageContainer {
    padding: 0;
  }

  .textContainer {
    padding-inline: 20px;
    button {
      margin-top: 30px;
    }
  }

  .eventVideo,
  .eventVideo.he {
    right: auto;
    left: auto;
    width: 100%;
  }
}
