@use 'variables' as *;
.container {
  min-height: 665px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7.5rem;
}

.items {
  display: flex;
  max-width: 150rem;
  width: 100%;
  gap: 1.25rem;
}

.containerEvent {
  margin-top: 0px;
  min-height: auto;
}

.bg,
.eventBg {
  background-image: url(/images/ilona.png);
  background-size: cover;
  background-position: center;
  flex: 1;
  min-width: 50%;
  border-radius: 8rem;
  overflow: hidden;
}

.eventBg {
  background-image: url(/images/goldGirl.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  font-size: $fontSizeH2;
}

.title span {
  color: $colorAccentLight;
}

.textContainer {
  padding: 10rem 5rem;
  background-color: $colorWhite;
  border-radius: 6rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.eventTextContainer {
  padding: 5rem;
}

.eventTextContainer .text {
  margin-bottom: 2.5rem;
}

.eventTextContainer .title {
  margin-bottom: 2.5rem;
  line-height: 5rem;
}

.text {
  max-width: 66rem;
  font-size: $fontSizeP2;
}

.text span {
  color: $colorAccentLight;
}

.buttonContainer {
  max-width: 45.25rem;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .items {
    flex-direction: column;
    align-items: center;
  }
  .eventBg {
    max-width: 96%;
    width: 96%;
    background-position: 90%;
    min-height: 40.625rem;
    border-radius: 4rem 32px 0 0;
  }
  .bg {
    max-width: 96%;
    width: 96%;
    min-height: 40.625rem;
    border-radius: 4rem;
    background-position: top;
  }
  .textContainer {
    width: 96%;
    padding: 3.75rem 20px 20px 20px;
    gap: 2.5rem;
    margin-top: -6.25rem;
  }
  .title {
    font-size: $fontSizeMobH2;
  }
  .eventTextContainer .title {
    line-height: 3.125rem;
    margin-bottom: 0;
  }
  .eventTextContainer .text {
    margin-bottom: 0;
  }
  .text {
    font-size: $fontSizeMobP2;
  }
  .buttonContainer {
    max-width: 100%;
  }
}

@media screen and (max-width: 50rem) {
  .eventBg {
    background-position: 150%;
  }
}
