@use 'variables' as *;
.container span {
  font-size: $fontSizeMobP2;
}

.container input,
.container button {
  height: 6.625rem;
  width: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1.5rem;
  outline: none;
  border: none;
  background-color: $colorLightBg;
  font-size: $fontSizeP2;
  margin-top: 0.625rem;
  border: 1px solid transparent;
  transition: all 0.3s linear;
}

.container input {
  color: $colorAccentDark;
  font-weight: 600;
  pointer-events: none;
}

.container input[type='number']::-webkit-inner-spin-button,
.container input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

.inputContainer {
  margin: 10px 0 20px 0;
  display: flex;
  gap: 1.25rem;
}

.inputContainer button {
  margin: 0;
  cursor: pointer;
}

.inputContainer button:hover {
  border: 1px solid $colorAccentLight;
}

@media screen and (max-width: 1224px) {
  .container span {
    font-size: $fontSizeMobExtra;
  }
  .container input {
    height: 5.25rem;
    width: 100%;
    font-size: $fontSizeMobExtra;
  }
  .container button {
    height: 5.25rem;
    width: 42px;
    min-width: 42px;
  }
}
