@use 'variables' as *;
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 150rem;
  margin-inline: auto;
  padding: 3.75rem 20px 20px 20px;
  border: 1px solid $colorWhite;
  border-radius: 5rem;
}

.title {
  font-size: $fontSizeH2;
  color: $colorAccentLight;
}

.title .colored {
  color: $colorGold;
}

.subtitle {
  font-size: $fontSizeP1;
  margin: 2.5rem 0 60px 0;
  color: $colorAccentLight;
}

.containerInner {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  background-color: $colorWhite;
  padding: 3.75rem;
  border-radius: 5rem;
  flex: 1;
  justify-content: space-between;
}

.textTitle {
  font-size: $fontSizeP1;
}

.text {
  font-size: $fontSizeP2;
  margin-bottom: 50px;
}

.linkbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1224px) {
  .container {
    width: 100%;
    padding-inline: 2.5rem;
  }
  .containerInner {
    flex-direction: column;
    gap: 1.25rem;
  }
  .imageBox,
  .textContainer {
    width: 100%;
    max-width: 100%;
  }
  .textContainer {
    padding: 25px;
  }
  .linkbox {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  .title {
    font-size: $fontSizeMobH2;
  }
  .subtitle {
    font-size: $fontSizeP2;
    margin: 2.5rem 0 40px 0;
  }
  .textTitle {
    font-size: $fontSizeMobH2;
  }
  .text {
    font-size: $fontSizeMobP2;
  }
}

@media screen and (max-width: 768px) {
  .container {
    border: none;
    padding-bottom: 0;
  }
}
