@use 'variables' as *;
.itemWrapper {
  display: flex;
  flex-direction: column;
  background-color: $colorWhite;
  padding: 2.5rem;
  max-width: 100%;
  width: 100%;
  border-radius: 4rem;
  position: relative;
  background-color: $colorNavyDark;
}

.zoomLabel {
  position: absolute;
  top: 4.375rem;
  font-size: $fontSizeMobP2;
  right: 4.375rem;
  z-index: 2;
  border-radius: 15px;
  background-color: $colorWhite;
  padding: 1.25rem 2.5rem;
  pointer-events: none;
  color: $colorTextDark;
}

.imageBox {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  // pointer-events: none;
  position: relative;
  max-height: 600px;
  overflow-y: hidden;
  border-radius: 3rem;
}

.imageBox::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  gap: 2.5rem;
  width: 100%;
  scroll-snap-align: start;
  flex-direction: column;
  min-width: 100%;
  position: relative;
  z-index: 1;
}

.imageContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  flex: 1;
}

.imageContainer:nth-last-child(1) {
  flex-direction: column-reverse;
}

.image {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.image {
  max-height: 50rem;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 55px;
  background-color: $colorBg;
  font-size: $fontSizeMobP1;
}

.roundLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  background-color: $colorAccentLight;
  font-size: $fontSizeMobP1;
  color: $colorWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
}

.mobileButtonContainer {
  width: 100%;
  padding-inline: 2.5rem;
}
