.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 80px auto 0 auto;
}

.title {
  color: var(--colorLightBG);
  font-size: var(--fontSizeH2);
  margin-bottom: 40px;
  text-align: start;
}

@media screen and (max-width: 799px) {
  .container {
    padding-inline: 20px;
  }
  .title {
    font-size: var(--fontSizeMobH2);
  }
}
