@use 'variables' as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10rem auto 0 auto;
}

.title {
  color: $colorLightBg;
  font-size: $fontSizeH2;
  margin-bottom: 5rem;
  text-align: start;
}

@media screen and (max-width: 799px) {
  .container {
    padding-inline: 2.5rem;
  }
  .title {
    font-size: $fontSizeMobH2;
  }
}
