@use '@/styles/variables' as *;
.section {
  padding-top: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $colorBg;
}

.title {
  font-size: $fontSizeH2;
  color: $colorLightBg;
}

.titleColored {
  color: $colorAccentLight;
}

@media screen and (max-width: 1224px) {
  .section {
    width: 100%;
    padding-inline: 2.5rem;
    gap: 15px;
  }
  .title {
    font-size: $fontSizeMobH2;
    z-index: 2;
  }
}
