@use 'variables' as *;
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: $fontSizeH2;
  font-weight: 400;
  color: $colorLightBg;
  margin-bottom: 3.75rem;
}

@media screen and (max-width: 1224px) {
  .title {
    font-size: $fontSizeMobH2;
  }
}
