.root {
  display: flex;
  min-height: 100vh;
  background: #0b1120;
}

.main {
  flex: 1;
  padding: 32px;
  overflow-x: hidden;
  background: linear-gradient(to bottom right, #0f172a, #0f172a, #131d35);

  @media (min-width: 1024px) {
    padding: 5rem;
  }
  @media (max-width: 768px) {
    padding-left: 14rem;
  }
}

.content {
  margin: 0 auto;
  max-width: 144rem;
}
