.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-inline: auto;
}

.title {
  font-size: var(--fontSizeH2);
}

.title .colored {
  color: var(--colorAccentLight);
}

.subtitle {
  font-size: var(--fontSizeP1);
}

.containerInner {
  display: flex;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--colorWhite);
  padding: 30px;
  border-radius: 40px;
  width: 49%;
  justify-content: space-between;
}

.textTitle {
  font-size: var(--fontSizeP1);
}

.text {
  font-size: var(--fontSizeP2);
  margin-bottom: 50px;
}

.imageBox {
  max-width: 49%;
}

.linkbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
