@use '@/styles/variables' as *;
.section,
.solutionLabelsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  background: #3d3d3e;
  background: linear-gradient(
    180deg,
    rgba(61, 61, 62, 1) 0%,
    rgba(219, 183, 115, 1) 3%,
    rgba(197, 166, 108, 1) 41%,
    rgba(0, 0, 0, 0.59) 87%,
    rgba(0, 0, 0, 1) 100%
  );
}

.title {
  font-size: $fontSizeH2;
  margin-block: 5rem;
  max-width: 150rem;
  text-align: center;
}

.title span {
  color: $colorAccentLight;
}
.text {
  font-size: $fontSizeP2;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.25rem;
  max-width: 132.5rem;
  margin-inline: auto;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.solutionBlock {
  display: flex;
  min-width: 100%;
  width: 100%;
  position: relative;
  gap: 1.25rem;
}

.subtitle {
  font-size: $fontSizeP2;
  margin-bottom: 6.875rem;
}

.sliderContainer {
  max-width: 150rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discountLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150rem;
  width: 100%;
  border-radius: 3rem;
  background-color: $colorGold;
  font-size: $fontSizeP1;
  padding: 3.75rem;
}
.discountLabel span {
  text-align: start;
}

.discountLabelTitle {
  font-size: $fontSizeH2;
  margin-bottom: 2.5rem;
}

.bundleContainer,
.bundleProductContainer {
  background-color: $colorLightBg;
  border-radius: 4rem;
  max-width: 150rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 5rem;
  margin-top: 5rem;
}

.bundleContainer img {
  max-width: 55%;
}

.bundleTextContainer,
.bundleProductTextContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-top: 50px;
}

.bundleGelTextContainer {
  margin: 0;
  gap: 1.25rem;
  .bundleTitle {
    margin-bottom: 0;
  }
}

.bundleTitle {
  font-size: $fontSizeH2;
  margin-bottom: 3.125rem;
}

.bundleText,
.bundleProductText {
  font-size: $fontSizeP1;
  margin-bottom: 2.5rem;
}

.bundleProductText {
  margin-bottom: 0;
}
.bundleProductText.spray {
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 1224px) {
  .solutionLabelsContainer {
    padding-inline: 2.5rem;
  }
  .section {
    padding-inline: 2.5rem;
  }
  .title {
    font-size: $fontSizeMobH2;
    gap: 1.25rem;
  }
  .subtitle {
    display: none;
  }
  .slider {
    height: 100%;
  }
  .solutionBlock {
    flex-direction: column;
  }
}

@media screen and (max-width: 799px) {
  .bundleContainer {
    padding: 10px;
  }
  .bundleContainer img {
    width: 100%;
    max-width: 100%;
  }
  .bundleTextContainer {
    display: none;
  }
  .bundleProductTextContainer {
    margin: 0;
    .bundleTitle {
      font-size: $fontSizeMobH2;
      margin-bottom: 1.25rem;
    }
    .bundleProductText {
      font-size: $fontSizeMobP1;
    }
  }
  .bundleProductContainer {
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }
  .bundleProductContainer img {
    width: 100%;
  }
}
