.button {
  width: 180px;
  height: 60px;
  background-color: #984d65;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 15px;
  font-family: var(--font-Rubik);
  font-weight: 500;
  font-size: 20px;
  margin: 40px auto;
}
.button:hover {
  background-color: #a85771;
}
