.container {
  padding: 24px 40px;
  background-color: var(--colorWhite);
  border-radius: 28px;
  cursor: pointer;
}

.title {
  display: block;
  font-size: var(--fontSizeP1);
}

.text {
  margin-top: 15px;
  max-width: 85%;
}

.label {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.image {
  filter: brightness(0) saturate(100%) invert(32%) sepia(10%) saturate(3278%)
    hue-rotate(290deg) brightness(96%) contrast(91%);
  transform: none;
  transition: all 0.2s linear;
}

.image.active {
  transform: rotate(180deg);
}

@media screen and (max-width: 1224px) {
  .container {
    padding: 24px;
  }
  .title {
    font-size: var(--fontSizeMobP1);
  }
  .text {
    font-size: var(--fontSizeMobP2);
  }
}
