@use '@/styles/variables' as *;
.section {
  width: 100%;
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  border-radius: 4rem;
  color: $colorLightBg;
  text-align: center;
  align-items: center;
  padding-bottom: 3.75rem;
}

.title {
  font-size: $fontSizeH2;
  max-width: 70%;
  margin: 2.5rem auto 6.25rem auto;
}

.container {
  max-width: 150rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  max-width: 27.5rem;
  span {
    font-size: $fontSizeMobExtra;
  }
}

.subtitle {
  font-size: $fontSizeP1 !important;
  margin-block: 1.875rem;
}

@media screen and (max-width: 1224px) {
  .section {
    padding-inline: 2.5rem;
  }
}

@media screen and (max-width: 799px) {
  .section {
    border-radius: 0;
    padding-inline: 2.5rem;
  }
  .container {
    width: 90%;
  }
  .title {
    font-size: $fontSizeMobH2;
  }
  .subtitle {
    font-size: $fontSizeMobP1;
  }
  .items {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
}
