.container {
  padding: 60px;
  max-width: 800px;
  width: 90%;
  max-height: 600px;
  height: 90vh;
  background-color: var(--colorWhite);
  border-radius: 32px;
  position: relative;
}

.closeButton {
  position: absolute;
  right: 25px;
  top: 25px;
  padding: 10px;
  background-color: transparent;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 70%;
  transition: all 0.3s linear;
}

.textContainer {
  overflow-y: scroll;
  max-height: 480px;
  padding-right: 20px;
}

.container h2 {
  font-weight: 400;
}

.date {
  font-size: var(--fontSizeP2);
  padding: 10px 0 20px 0;
}

.container p {
  margin-block: 20px;
}

@media screen and (max-width: 1224px) {
  .container {
    padding: 60px 30px 20px 20px;
  }
  .closeButton {
    top: 15px;
    right: 15px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .closeButton:hover {
    opacity: 1;
  }
}
