.container {
  padding: 24px 40px;
  background-color: var(--colorLightBG);
  border-radius: 28px;
  cursor: pointer;
}

.time {
  color: var(--colorAccentLight);
}

.title {
  display: block;
  font-size: var(--fontSizeP1);
}

.text {
  margin-top: 15px;
  max-width: 85%;
}

.label {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.image {
  filter: brightness(0) saturate(100%) invert(48%) sepia(16%) saturate(4288%)
    hue-rotate(15deg) brightness(98%) contrast(91%);
  transform: none;
  transition: all 0.2s linear;
}

.image.active {
  transform: rotate(180deg);
}

.centerDataRow {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.centerDataColumn {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 25%;
}

@media screen and (max-width: 1224px) {
  .container {
    padding: 24px;
  }
  .title {
    font-size: var(--fontSizeMobP1);
  }
  .text {
    font-size: var(--fontSizeMobP2);
  }
}

@media screen and (max-width: 768px) {
  .centerDataRow {
    flex-direction: column;
    gap: 10px;
  }
  .centerDataColumn {
    width: 100%;
  }
}
