@use '@/styles/variables' as *;
.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding-block: 1.25rem;
  z-index: 10;
}

.eventPage {
  background-color: $colorNavy;
  border-bottom: 1px solid rgba($colorGold, 0.1);
}

.header .scrolled {
  background-color: #000;
}

.container {
  max-width: $contentWidthDesktop;
  height: 5rem;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.logoContainer img {
  -webkit-user-drag: none;
  z-index: 11;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: opacity 0.3s linear;
  z-index: 10;
  pointer-events: none;
  inset: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.overlay.active {
  opacity: 100%;
  pointer-events: all;
}

@media screen and (max-width: 1224px) {
  .header {
    height: 9rem;
    padding: 0 10rem 0 2.5rem;
  }
}
