.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 11;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.contentActive {
  pointer-events: all;
}

.overlay {
  z-index: 10;
  position: absolute;
  background-color: var(--colorBG);
  filter: blur(5px);
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all 0.3s linear;
}

.active {
  pointer-events: all;
  opacity: 70%;
}

@media screen and (max-width: 1224px) {
  .container.opened {
    -webkit-overflow-scrolling: touch;
    pointer-events: all;
  }
  .contentActive {
    overflow-y: scroll;
    height: 100%;
    max-height: 100%;
  }
}
