.container {
  width: 320px;
  min-width: 320px;
  height: 320px;
  min-height: 320px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  justify-content: space-around;
  padding-block: 20px;
  transition: all 0.3s linear;
}
.container p {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  max-width: 200px;
}
.container img {
  height: 140px;
}
.container:hover {
  filter: drop-shadow(3px 3px 3px #984d65);
}
