@use 'variables' as *;
.container,
.containerMobile {
  width: 11.25rem;
  height: 5rem;
  background-color: $colorWhite;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: 9;
}

.containerMobile {
  width: 60px;
  height: 3.25rem;
  margin-block: auto;
}

.currenSelection {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.localeText {
  text-transform: uppercase;
  font-size: $fontSizeP2;
}

.localeText.mobile {
  font-size: $fontSizeMobExtra;
}

.switchIcon {
  transition: transform 0.2s linear;
  width: auto;
}

.active {
  transform: rotate(180deg);
}

.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  bottom: -11rem;
  left: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.popup.opened {
  pointer-events: all;
  opacity: 1;
  bottom: -11.25rem;
}

.containerMobile .popup {
  bottom: -7.75rem;
}
