.button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 24px;
  padding-inline: 10px;
  transition: color 0.3s linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}

.buttonMobile {
  user-select: none;
  width: 100%;
  padding: 20px 40px;
  color: var(--colorLightBG);
  background-color: transparent;
  font-size: var(--fontSizeP2);
  text-align: end;
}

.buttonMobile.opened {
  padding-bottom: 0;
}
.button.closed:hover {
  color: rgba(255, 255, 255, 1);
}

.dropDownButton {
  position: relative;
}

.dropDownList {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40px;
  right: 0;
  width: 200px;
  padding-top: 10px;
}

.dropdownListMobile {
  position: relative;
  width: 100%;
  top: 0;
}

.dropDownList.reversed {
  right: auto;
  left: 0;
}

.dropDownList.opened {
  padding-bottom: 0;
}

.arrowIcon {
  margin: 0 5px 2px 5px;
  transition: all 0.3s linear;
  width: auto;
  height: auto;
}

.arrowIcon.opened {
  transform: rotate(180deg);
}

.arrowIcon.reversed {
  margin: 0 5px 2px 0;
}

.link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-block: 5px;
  padding-inline-end: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.linkMobile {
  padding-block: 10px;
  padding-inline-end: 0;
  background-color: transparent;
  font-size: 14px;
}

.linkMobile:hover {
  color: var(--colorLightBG);
}

.linkMobile:nth-child(1) {
  margin-top: 20px;
}
