@use 'variables' as *;
.button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  line-height: 3rem;
  padding-inline: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}

.button a {
  font-size: 1.875rem;
  transition: all 0.3s linear;
}

.button a:hover {
  font-size: 2rem;
  color: rgba(255, 255, 255, 1);
}

.buttonMobile {
  user-select: none;
  width: 100%;
  padding: 2.5rem 40px;
  color: $colorLightBg;
  background-color: transparent;
  font-size: $fontSizeP2;
  text-align: end;
}

.buttonMobile.opened {
  padding-bottom: 0;
}
.button.closed:hover {
  color: rgba(255, 255, 255, 1);
}

.dropDownButton {
  position: relative;
}

.dropDownList {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40px;
  right: 0;
  width: 25rem;
  padding-top: 1.25rem;
}

.dropdownListMobile {
  position: relative;
  width: 100%;
  top: 0;
}

.dropDownList.reversed {
  right: auto;
  left: 0;
}

.dropDownList.opened {
  padding-bottom: 0;
}

.arrowIcon {
  margin: 0 5px 2px 5px;
  transition: all 0.3s linear;
  width: auto;
  height: auto;
}

.arrowIcon.opened {
  transform: rotate(180deg);
}

.arrowIcon.reversed {
  margin: 0 5px 2px 0;
}

.link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-block: 0.625rem;
  padding-inline-end: 2.5rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.linkMobile {
  padding-block: 1.25rem;
  padding-inline-end: 0;
  background-color: transparent;
  font-size: 1.75rem;
}

.linkMobile:hover {
  color: $colorLightBg;
}

.linkMobile:nth-child(1) {
  margin-top: 2.5rem;
}
