.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorWhite);
  border-radius: 56px;
}

.title {
  font-size: var(--fontSizeH2);
  margin-block: 40px;
}

.title span {
  color: var(--colorAccentLight);
}

.text {
  font-size: var(--fontSizeP2);
}
