.header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  padding-inline: 5%;
}
.logo {
  -webkit-user-drag: none;
}
.logoContainer {
  display: flex;
  align-items: center;
  width: 20%;
}
.logoText {
  font-family: var(--font-Rubik);
  font-size: 30px;
  font-weight: 500;
  line-height: 34px;
  user-select: none;
  text-shadow: 0 4px 4px #984d65;
}
