@use 'variables' as *;
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.5rem;
}

.article {
  max-width: 150rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: $fontSizeP2;
  margin-bottom: 5rem;
}

.textContainer h2 {
  font-size: $fontSizeH2;
  font-weight: 400;
  margin-bottom: 3rem;
  color: $colorAccentLight;
}

.textContainer h2 span,
.textContainer p {
  color: $colorLightBg;
}

.textContainer p span {
  color: $colorAccentLight;
}

.imageContainer {
  max-width: 40%;
  width: 100%;
  aspect-ratio: 1.49/1;
  position: relative;
}

.textContainer {
  max-width: 45%;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 150rem;
  width: 100%;
  gap: 1.25rem;
}

@media screen and (max-width: 1224px) {
  .section {
    padding-inline: 2.5rem;
    padding-bottom: 7.5rem;
  }
  .article {
    flex-direction: column;
  }
  .textContainer,
  .imageContainer {
    max-width: 100%;
  }
  .imageContainer {
    margin-top: 5rem;
  }
  .textContainer h2 {
    font-size: $fontSizeMobH2;
  }
  .textContainer p {
    font-size: $fontSizeMobP2;
  }
  .itemContainer {
    flex-direction: column;
  }
}
