@use '@/styles/variables' as *;
.section {
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 150rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.cardContainer {
  border-radius: 6rem;
  overflow: hidden;
  min-height: 69.75rem;
}

.iframe {
  width: 100%;
  height: 100%;
  min-height: 69.75rem;
}

.contacts {
  display: flex;
  gap: 1.25rem;
}

.contactsItem {
  display: flex;
  flex-direction: column;
  padding: 6rem 88px 48px 88px;
  background-color: $colorWhite;
  border-radius: 6rem;
  flex: 1;
  justify-content: space-between;
}

.contactsItem p {
  height: 48px;
}

.item2textBox {
  display: flex;
  height: 100%;
  gap: 5rem;
}

.contactsItemTitle {
  font-size: $fontSizeMobH2;
}

.text {
  font-size: $fontSizeP2;
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item2text,
.linkBox {
  height: 48px;
  display: flex;
  gap: 1.25rem;
}

.item2textBox .text {
  height: 48px;
}

@media screen and (max-width: 1224px) {
  .content {
    padding-inline: 2.5rem;
  }
  .iframe {
    z-index: 5;
  }
  .contacts {
    flex-direction: column;
    z-index: 8;
  }
  .contactsItem {
    padding: 5rem;
  }
  .item2textBox {
    position: relative;
  }
  .item2textBox .column {
    justify-content: flex-start;
  }
  .contactsItemTitle {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .linkBox {
    position: absolute;
    bottom: 3.75rem;
    left: 0;
    display: flex;
    justify-content: space-between;
  }
  .linkBox.he {
    right: 0;
    left: auto;
  }
  .contactsItem {
    border-radius: 4rem;
    padding: 3rem 20px 20px;
  }
  .item2textBox {
    padding-bottom: 10rem;
  }
}
