.container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 20%;
}
.button {
  cursor: pointer;
  height: 120px;
}
.popup {
  position: absolute;
  top: 100%;
  right: 0;
}
.container,
.popup a {
  height: 40px;
  border: none;
  margin: 0;
}
.popup a {
  display: block;
  overflow: hidden;
}
.container img {
  margin-top: -40px;
}
.popup a img {
  margin-top: -20px;
}
.popup a {
  margin-right: 0 !important;
  margin-top: 5px;
}
