.section {
  background-image: url(/images/introBG.png);
  min-height: 578px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  position: relative;
  z-index: 1;
}

.container {
  max-width: var(--contentWidthDesktop);
  width: 100%;
}

.section span {
  color: var(--colorWhite);
  font-size: var(--fontSizeP2);
}

.dot {
  margin-inline: 10px;
}

.title {
  font-size: var(--fontSizeH1);
  font-weight: 400;
  color: var(--colorWhite);
  margin: 40px 0;
  padding: 0;
  max-width: 640px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.text {
  color: var(--colorWhite);
  font-size: var(--fontSizeP2);
  max-width: 380px;
  letter-spacing: 2%;
}

.lines {
  position: absolute;
  right: -90px;
  bottom: -290px;
  -webkit-user-drag: none;
  pointer-events: none;
}

@media screen and (max-width: 1224px) {
  .section {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
  }
  .buttonBox {
    display: none;
  }
  .section span {
    font-size: var(--fontSizeMobExtra);
  }
  .title {
    font-size: var(--fontSizeMobH1);
  }
  .row {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .lines {
    scale: 0.6;
    right: -150px;
    z-index: 1;
    pointer-events: none;
  }
  .text {
    font-size: var(--fontSizeMobP2);
    max-width: 100%;
  }
}
