@use 'variables' as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerInner {
  display: flex;
  gap: 1.25rem;
  max-width: 150rem;
}

.title {
  font-size: $fontSizeH2;
  color: $colorLightBg;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.item {
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  background-color: $colorWhite;
  border-radius: 6rem;
  flex: 1;
}

.round {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  color: $colorWhite;
  background-color: $colorAccentLight;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fontSizeP1;
  margin-bottom: 3.125rem;
}

.round.light {
  background-color: $colorGold;
}

.text {
  font-size: $fontSizeP1;
}

.buttonBox {
  margin: 3.75rem 0 10rem 0;
}

@media screen and (max-width: 1199px) {
  .container {
    align-items: flex-start;
    padding-top: 2.5rem;
  }
  .containerInner {
    flex-direction: column-reverse;
    gap: 2.5rem;
    max-width: 100%;
    width: 100%;
  }
  .titleMob {
    font-size: $fontSizeMobH2;
    color: $colorLightBg;
    text-align: center;
    width: 100%;
  }
  .round {
    font-size: $fontSizeMobP2;
  }
  .text {
    font-size: $fontSizeP2;
  }
  .itemList {
    padding-inline: 2.5rem;
  }
  .buttonBox {
    width: 100%;
    padding-inline: 2.5rem;
    margin-top: 2.5rem;
  }
}
