@use 'variables' as *;
.container {
  display: flex;
  justify-content: center;
  padding-bottom: 7.5rem;
}

.containerInner {
  display: flex;
  max-width: 150rem;
}

.containerInner img {
  width: 100%;
  max-width: 50%;
  height: auto;
}

.textBox {
  background-color: $colorWhite;
  border-radius: 5rem;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  max-width: 50%;
}

.textBox h3 {
  font-size: $fontSizeH2;
  line-height: 5.25rem;
  font-weight: 400;
  max-width: 50rem;
}

.textBox p {
  font-size: $fontSizeP2;
}

.textBox p span,
.textBox h3 span {
  color: $colorAccentLight;
}

@media screen and (max-width: 1199px) {
  .containerInner {
    flex-direction: column;
    padding-inline: 2.5rem;
    align-items: center;
  }
  .textBox {
    max-width: 100%;
    margin-top: 2.5rem;
  }
  .containerInner img {
    width: auto;
    max-width: 62.5rem;
    height: auto;
  }
}
