.container {
  min-height: 665px;
  display: flex;
  gap: 10px;
}

.bg {
  background-image: url(/images/dreamBG.png);
  background-size: cover;
  background-position: center;
  flex: 1;
  min-width: 50%;
  border-radius: 64px;
  overflow: hidden;
}

.title {
  font-size: var(--fontSizeH2);
}

.title span {
  color: var(--colorAccentLight);
}

.textContainer {
  padding: 80px 40px;
  background-color: var(--colorWhite);
  border-radius: 48px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text {
  max-width: 528px;
  font-size: var(--fontSizeP2);
}

.text span {
  color: var(--colorAccentLight);
}

.buttonContainer {
  max-width: 362px;
}

@media screen and (max-width: 1224px) {
  .container {
    flex-direction: column;
  }
  .bg {
    max-width: 100%;
    width: 100%;
    min-height: 325px;
    border-radius: 32px 32px 0 0;
  }
  .textContainer {
    width: 100%;
    padding: 40px 20px;
    gap: 20px;
    margin-top: -50px;
  }
  .title {
    font-size: var(--fontSizeMobH2);
  }
  .text {
    font-size: var(--fontSizeMobP2);
  }
  .buttonContainer {
    max-width: 100%;
  }
}
