.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 150rem;
  width: 100%;
  margin-block: 5rem;
  gap: 3.75rem;
}

.eventPageItemList {
  gap: 1.25rem;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .itemList {
    flex-direction: column;
    align-items: space-between;
  }
  .productList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
  }
}
