.container {
  margin: 10px auto 0 auto;
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: center;
}
.button {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #39212175;
}

.active {
  background-color: #fff;
}
