@use 'variables' as *;
.button,
.button.colored {
  background-color: transparent;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 7.5rem;
}

.image {
  filter: brightness(0) saturate(100%) invert(73%) sepia(69%) saturate(257%)
    hue-rotate(358deg) brightness(93%) contrast(88%);
}

.button .image {
  width: 5rem;
  height: 5rem;
  transition: all 0.2s linear;
}

.button:active {
  background-color: #fae7ef;
}

.button.colored:active {
  background-color: $colorAccentDark;
}

.image.colored {
  filter: brightness(0) saturate(100%) invert(73%) sepia(69%) saturate(257%)
    hue-rotate(358deg) brightness(93%) contrast(88%);
}

.button.dark {
  background-color: $colorAccentDark;
}

.image.dark {
  filter: brightness(0) saturate(100%) invert(99%) sepia(23%) saturate(0%)
    hue-rotate(355deg) brightness(113%) contrast(101%);
}

.button.dark:active {
  background-color: $colorAccentDark;
}

.disabled {
  background-color: lightgray !important;
  cursor: not-allowed;
}

.disabled img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(23%) saturate(0%)
    hue-rotate(355deg) brightness(113%) contrast(101%) !important;
}

@media (hover: hover) and (pointer: fine) {
  .button.colored:hover .image {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
      hue-rotate(288deg) brightness(102%) contrast(102%);
  }
  .button:hover {
    background-color: $colorBg;
  }
  .button:hover .image {
    filter: brightness(0) saturate(100%) invert(27%) sepia(86%) saturate(497%)
      hue-rotate(290deg) brightness(93%) contrast(85%);
  }
}
