@use '@/styles/variables' as *;
.footer {
  width: 100%;
  padding: 11rem 0;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  max-width: 150rem;
  width: 100%;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  gap: 3.75rem;
}

.copyright,
.item {
  color: #787677;
  font-size: $fontSizeP2;
}
.item {
  cursor: pointer;
  transition: all 0.3s linear;
}

@media screen and (max-width: 1224px) {
  .content {
    flex-direction: column-reverse;
    padding-inline: 2.5rem;
  }
  .textContainer {
    flex-direction: column;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
  }
  .copyright,
  .item {
    font-size: $fontSizeMobP2;
  }
}

@media (hover: hover) and (pointer: fine) {
  .item:hover {
    color: #fff;
  }
}
