@use 'variables' as *;

.container {
  display: flex;
  background-color: $colorWhite;
  border-radius: 1.5rem;
  padding: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  gap: 5rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
  }
}

.contentItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (max-width: 768px) {
    gap: 0.5rem;
    flex-direction: row;
  }
}

.contentItemLabel {
  font-weight: 500;
}

.contentItemValue {
  font-weight: 400;
}
