.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttonBox {
  margin-left: auto;
}

.editButton,
.deleteButton {
  background-color: transparent;
  padding: 5px;
  opacity: 1;
  transition: all 0.3s ease;
}

.editButton:hover,
.deleteButton:hover {
  opacity: 0.7;
}

.phoneLink {
  opacity: 1;
  transition: all 0.3s linear;
}

.phoneLink:hover {
  opacity: 0.5;
}

.whatsAppCustomClass {
  width: 25px;
  height: 25px;
  opacity: 1;
  transition: all 0.3s linear;
}

.whatsAppCustomClass img {
  width: 22px;
  height: 22px;
  filter: brightness(0) saturate(100%);
}

.whatsAppCustomClass:hover {
  opacity: 0.5;
}
