.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttonBox {
  margin-left: auto;
}

.editButton,
.deleteButton {
  background-color: transparent;
  padding: 5px;
  opacity: 1;
  transition: all 0.3s ease;
}

.editButton:hover,
.deleteButton:hover {
  opacity: 0.7;
}

.phoneLink {
  opacity: 1;
  transition: all 0.3s linear;
}

.phoneLink:hover {
  opacity: 0.5;
}
