@use '@/styles/variables' as *;
.container {
  padding: 7.5rem;
  max-width: 100rem;
  width: 90%;
  max-height: 75rem;
  height: 90vh;
  background-color: $colorWhite;
  border-radius: 4rem;
  position: relative;
}

.closeButton {
  position: absolute;
  right: 3.125rem;
  top: 3.125rem;
  padding: 1.25rem;
  background-color: transparent;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 70%;
  transition: all 0.3s linear;
}

.textContainer {
  overflow-y: scroll;
  max-height: 60rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 1224px) {
  .container {
    padding: 7.5rem 3.75rem 2.5rem 2.5rem;
  }
  .closeButton {
    top: 1.875rem;
    right: 1.875rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .closeButton:hover {
    opacity: 1;
  }
}
