@use 'variables' as *;
.container {
  display: flex;
  justify-content: center;
  padding-block: 7.5rem;
}

.containerInner {
  max-width: 150rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid $colorWhite;
  border-radius: 5rem;
  padding: 2.5rem;
}

.textBox {
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 53.75rem;
  color: $colorLightBg;
}

.textBox h2 {
  font-weight: 500;
  font-size: $fontSizeH2;
}

.textBox h2 span {
  color: $colorAccentLight;
}

.subtitle {
  margin-block: 2.5rem;
}

.text {
  max-width: 35rem;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  .containerInner {
    flex-direction: column;
    align-items: center;
    border: none;
  }
  .containerInner img {
    width: 100%;
    margin-top: 3.75rem;
  }
  .textBox {
    max-width: 100%;
    padding: 0;
  }
  .textBox h2,
  .textBox h2 span {
    font-size: $fontSizeMobH2;
  }
  .textBox span {
    font-size: $fontSizeMobP2;
  }
  .text {
    max-width: 100%;
  }
}
