@use '@/styles/variables' as *;
.container {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 6.25rem;
}

.containerInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 6.25rem;
  border-radius: 5rem;
  background-color: $colorWhite;
}

.containerInner img {
  margin-inline: auto;
}

.title {
  color: $colorAccentLight;
  font-weight: 500;
}

.text {
  color: $colorAccentLight;
}
