.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.containerInner {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 40px 0;
  font-size: var(--fontSizeH2);
  color: var(--colorLightBG);
  text-align: center;
}

.itemBox {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  gap: 16px;
}

@media screen and (max-width: 1224px) {
  .containerInner {
    margin-inline: 20px;
  }
  .title {
    font-size: var(--fontSizeMobH2);
  }
}
