@use 'variables' as *;
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 36.875rem;
}

.textContainer {
  padding-bottom: 2.5rem;
  height: 27.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #222222;
  font-size: $fontSizeP2;
  background: #dfba74;
  background: linear-gradient(
    180deg,
    rgba(223, 186, 116, 1) 0%,
    rgba(222, 185, 116, 0.59) 80%,
    rgba(0, 0, 0, 1) 100%
  );
}

.textContainer span {
  max-width: 85rem;
}

.bold {
  font-weight: 500;
}

.arrows {
  height: 9.75rem;
  margin-bottom: 3.75rem;
}

.staffContainer {
  display: flex;
  justify-content: space-around;
  max-width: 150rem;
  width: 100%;
}

.title {
  font-size: $fontSizeH2;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $colorLightBg;
  max-width: 55.25rem;
  padding-top: 30px;
}

.subtitle {
  margin: 3.75rem 0 6.25rem 0;
  text-align: center;
  font-size: $fontSizeP2;
}

.image {
  width: 57rem;
  height: 54.25rem;
}

.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 799px) {
  .textContainer {
    padding: 0 20px 20px 20px;
    font-size: 2rem;
  }
  .textContainerRu {
    font-size: 1.875rem;
  }
  .staffContainer {
    width: 90%;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
  .image {
    width: 100%;
    max-width: 57rem;
  }
  .titleBox {
    flex-direction: row;
    gap: 0px;
  }

  .title {
    font-size: $fontSizeMobH2;
  }

  .titleBoxColumn {
    flex-direction: column;
  }
  .description {
    width: 100%;
  }
}
