@use '@/styles/variables' as *;
.inputLabel {
  display: flex;
  flex-direction: column;
  font-size: $fontSizeMobP2;
  color: $colorAccentDark;
  cursor: pointer;
}

.inputLabel input {
  height: 6.625rem;
  padding-inline: 1.875rem;
  border-radius: 1.5rem;
  outline: none;
  border: 1px solid transparent;
  background-color: $colorLightBg;
  font-size: $fontSizeP2;
  margin-top: 0.625rem;
  transition: all 0.3s linear;
}

.inputLabel input::placeholder {
  color: $colorAccentDark;
  opacity: 0.5;
}

.inputLabel input:hover {
  border: 1px solid $colorAccentLight;
}

.inputLabel input:focus {
  border: 1px solid $colorAccentDark;
}

.inputLabel .error {
  border: 1px solid #d00043;
}

.errorText {
  height: 1.75rem;
  font-size: $fontSizeMobP2;
  color: #d00043;
  margin-top: 0.625rem;
}

@media screen and (max-width: 1224px) {
  .inputLabel {
    font-size: $fontSizeMobExtra;
    margin-bottom: 3px;
  }
  .inputLabel input {
    height: 5.25rem;
  }
  .inputLabel input::placeholder {
    font-size: $fontSizeMobP2;
  }
  .errorText {
    font-size: $fontSizeMobExtra;
  }
}
