.inputLabel {
  display: flex;
  flex-direction: column;
  font-size: var(--fontSizeMobP2);
  color: var(--colorAccentDark);
  cursor: pointer;
}

.inputLabel input {
  height: 53px;
  padding-inline: 15px;
  border-radius: 12px;
  outline: none;
  border: 1px solid transparent;
  background-color: var(--colorLightBG);
  font-size: var(--fontSizeP2);
  margin-top: 5px;
  transition: all 0.3s linear;
}

.inputLabel input::placeholder {
  color: var(--colorAccentDark);
  opacity: 0.5;
}

.inputLabel input:hover {
  border: 1px solid var(--colorAccentLight);
}

.inputLabel input:focus {
  border: 1px solid var(--colorAccentDark);
}

.inputLabel .error {
  border: 1px solid #d00043;
}

.errorText {
  height: 14px;
  font-size: var(--fontSizeMobP2);
  color: #d00043;
  margin-top: 5px;
}

@media screen and (max-width: 1224px) {
  .inputLabel {
    font-size: var(--fontSizeMobExtra);
    margin-bottom: 3px;
  }
  .inputLabel input {
    height: 42px;
  }
  .inputLabel input::placeholder {
    font-size: var(--fontSizeMobP2);
  }
  .errorText {
    font-size: var(--fontSizeMobExtra);
  }
}
