@use 'variables' as *;

.container,
.containerEvent {
  background-color: $colorGold;
  border-radius: 2.5rem;
  min-width: 46.75rem;
  height: 10rem;
  padding: 0.625rem 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.container img {
  max-height: 8.125rem;
}

.containerEvent {
  flex-direction: row-reverse;
  background-color: $colorWhite;
  border-radius: 7rem;
  max-width: 41rem;
  min-width: auto;
}

.container span {
  font-size: $fontSizeP2;
  max-width: 36.25rem;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1224px) {
  .container img {
    max-width: 11.75rem;
    max-height: 8.75rem;
  }
  .container span {
    font-size: $fontSizeMobP1;
    margin-top: 2.5rem;
    max-width: 36.25rem;
    text-align: center;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    align-items: center;
  }
  .containerEvent {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding: 3rem;
    border-radius: 4rem;
  }
  .container,
  .containerEvent {
    min-width: unset;
  }
  .productContainer {
    max-width: 40%;
    width: 100%;
    min-width: auto;
    height: 214px;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 5px;
    flex: 0 1 48%;
    max-width: 50%;
  }

  .container img {
    width: 10rem;
    height: auto;
  }
  .container span {
    text-align: center;
  }
}
