.container {
  background-color: var(--colorGold);
  border-radius: 20px;
  min-width: 374px;
  height: 80px;
  padding: 5px 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.container img {
  max-height: 65px;
}

.container span {
  font-size: var(--fontSizeP2);
  max-width: 290px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1224px) {
  .container img {
    max-width: 94px;
    max-height: 70px;
  }
  .container span {
    font-size: var(--fontSizeMobP1);
    margin-top: 20px;
    max-width: 290px;
    text-align: center;
  }
}
