.container {
  max-width: 1200px;
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  background-color: var(--colorWhite);
  position: relative;
  user-select: none;
}

.formContainer {
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.formContainer h2 {
  font-size: 32px;
  font-weight: 400;
}

.formContainer h2 span,
.formContainer p span {
  color: var(--colorAccentLight);
}

.formContainer p {
  font-size: var(--fontSizeMobP1);
  margin: 12px 0 25px 0;
}

.form {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--colorWhite);
}

.checkboxLabel {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: var(--fontSizeMobP2);
  margin-bottom: 20px;
  align-items: center;
  cursor: pointer;
}

.customCheckbox {
  border: 1px solid var(--colorAccentLight);
  width: 14px;
  height: 14px;
  border-radius: 4px;
  margin-right: 15px;
}

.checkboxLabel input:checked ~ .customCheckbox {
  background-image: url(/images/checkboxIcon.svg);
  background-color: var(--colorAccentLight);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.checkboxLabel.he .customCheckbox {
  margin: 0 0 0 15px;
}

.checkboxLabel input {
  display: none;
}

.row {
  display: flex;
  font-size: var(--fontSizeMobP2);
  margin-top: 20px;
}

.row img {
  margin-right: 10px;
}

.row p {
  font-size: var(--fontSizeMobExtra);
  margin: 0;
}

.row.he img {
  margin: 0 0 0 10px;
}

.formSubmitted {
  font-size: var(--fontSizeH2) !important;
}

.formSubmitted span {
  color: var(--colorAccentLight);
}

.formImageContainer {
  min-width: 620px;
  height: 100%;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
}

.desktopVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

@media screen and (max-width: 1224px) {
  .container {
    width: 92%;
    max-width: 600px;
  }
  .formContainer {
    padding: 50px;
  }
  .formContainer {
    padding-inline: 20px;
  }
  .formContainer h2 {
    font-size: var(--fontSizeMobP1);
  }
  .formContainer p {
    font-size: var(--fontSizeMobP2);
  }
  .formSubmitted {
    font-size: var(--fontSizeP2) !important;
    margin-bottom: 0 !important;
  }
  .formSubmitted span {
    color: var(--colorAccentDark) !important;
  }
  .isSentTitle {
    font-size: var(--fontSizeMobH2);
    color: var(--colorAccentLight);
  }
}
